.app {
	height: 100vh;
	padding: 2.4rem;
	overscroll-behavior-y: none;
	display: flex;
	position: relative;
}
.prelogin {
	background-color: var(--color-dark--0);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
