.main {
	background-color: var(--color-dark--0);
	width: 100%;
	height: 100vh;
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main h3 {
	color: var(--color-brand--1);
}
